unity_source/Library/
unity_source/Temp/
unity_source/Logs/
unity_source/obj/
Library/
Temp/
Logs/
obj/
UserSettings/
*.vsconfig
*.csproj
*.sln
unity_source/.vs
.vs
unity_source/Builds/Android
*.DS_Store
unity_source/PersistentPath
*.notgz
*.notgz.meta
unity_source/Builds/iOS
unity_source/MemoryCaptures
unity_source/.idea
unity_source/Builds